.project-over {
    width: 100%;
    height: 400px;
}

.project {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    position: relative;
}

.project-banner {
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(100% - 12px);
    height: 330px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.project-title-area {
    position: absolute;
    bottom: 64px;
    left: 6px;
    width: calc(70% - 12px);
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.project-filter {
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(100% - 12px);
    height: 330px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 5;
}

.project-title {
    color: white;
    padding: 0;
    margin: 0;
    margin-left: 16px;
}

.project-action {
    margin-left: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.project-subtitle {
    margin-left: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.project-view {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 72px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-justify: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.project-view:hover {
    opacity: 0.8;
}

.project-name {
    padding-left: 56px;
    padding-top: 4px;
    margin-bottom: 14px;
    line-height: 0;
}

.project-description {
    margin-top: 0;
    padding-left: 56px;
    color: rgba(255,255,255,0.5);
    font-size: 12px;
    line-height: 0;
}

.project-icon {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    position: absolute;
    left: 14px;
    top: 14px;
    background-size: cover;
    background-position: center;
}