body {
    margin: 0;
    padding: 0;
    background-color: #242336;
    font-family: "SF Pro Display";
}

code {
    font-family: "SF Mono"
}

* {
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background-color: rgba(124, 124, 124, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    backdrop-filter: blur(10px);
}

.navcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    gap: 8px;
}

.navcontent h4 {
    color: white;
}

.main-content {
    position: relative;
    z-index: 1;
    padding: 7%;
    display: flex;
    flex-direction: column;
}

.button {
    height: 32px;
    background-color: #0077FF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-justify: center;
    line-height: 0px;
    color: white;
    padding: 0 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    filter: opacity(0.8);
}

.navexit {
    position: absolute;
    right: 16px;
    top: 8px;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.navback {
    position: absolute;
    left: 16px;
    top: 8px;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.navicon {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

.navitem {
    color: gray;
}

.content {
    margin: 0 auto;
    max-width: 1000px;
    color: white;
}

.code-area {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;
    padding: 4px;
    height: 32px;
    font-family: "SF Mono";
    color: #ffffff;
    overflow-x: auto;
}

.code-area code {
    margin: 0;
    padding: 0 8px;
    font-size: 12px;
    line-height: 0;
    font-weight: bold;
}

.copy-btn {
    color: white;
    background-size: 16px 16px;
    margin: 8px;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    z-index: 2;
}

#copied {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 16px;
    animation: copied-animation 2s ease-in-out;
    z-index: 1000;
    height: 36px;
    width: 100%;
}

.copied-content {
    max-width: 400px;
    width: 90vw;
    height: 36px;
    background-color: lightgreen;
    border-radius: 8px;
    display: flex;
    position: relative;
    margin: 0 auto;
    color: white;
    align-items: center;
    justify-content: center;
}

@keyframes copied-animation {
    0% {
        transform: translateY(110%);
    }
    15% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(110%);
        display: none;
        opacity: 0;
    }
}

.copied-checkmark {
    background-image: url("/Data/Icons/action.checkmark.svg");
    width:  24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    margin-right: 4px;
}


.footer-container{
	max-width: 1170px;
	margin: auto;
    box-sizing: border-box;
}

.row{
    box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

.footer-ul{
    box-sizing: border-box;
	list-style: none;
}
.footer{
    box-sizing: border-box;
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    box-sizing: border-box;
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    box-sizing: border-box;
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
    box-sizing: border-box;
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #1ecbe9;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
    box-sizing: border-box;
	margin-bottom: 10px;
}
.footer-col ul li a{
    box-sizing: border-box;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    box-sizing: border-box;
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
    box-sizing: border-box;
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    box-sizing: border-box;
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}